IRIS_REST_BASE_URL=https://iris.unicas.it:443/
IRIS_REST_PATH_IR=rest/api/v1/
IRIS_REST_PATH_RM=rm/restservices/api/v1
IRIS_REST_USERNAME=restadmin
IRIS_REST_PASSWORD=change-me
IRIS_REST_TIMEOUT_SECONDS=15