# =========================
# File e cartelle da NON versionare con Git
# per mantenere la repository pulita e portabile
# =========================

# Output generato da Maven, ignora la cartella target
target/

# File e cartelle locali di IntelliJ IDEA
.idea/
*.iml

# File temporanei / specifici del sistema operativo
.DS_Store
Thumbs.db

.env
*.env
!.env.example